kernel/obj/
kernel/bin/
iso_root/
limine/
*.iso
*.hdd
initrd.tar
disk.img
disk_root/
userland/*.o
userland/*.gcc.o
userland/*.dyn.o
userland/*.elf
userland/*.so
mlibc/
toolchain/src/
toolchain/build-binutils/
toolchain/build-gcc/
toolchain/build-bash/
toolchain/cross/
toolchain/sysroot/
toolchain/sysroot-shared/
